name: Release Draft

on:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  update_draft_release:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: toolmantim/release-drafter@v6.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
