name: "Verify type labels"

on:
  pull_request:
    types: [opened, labeled, unlabeled, synchronize]

permissions:
  contents: read

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
      - uses: zwaldowski/match-label-action@v5
        with:
          allowed: 'type:bug,type:new feature,type:improvement,type:dependencies,type:internal,type:invalid'
